html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1a1a1a;
}

#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#app .crepe-root,
#app .milkdown {
    flex-grow: 1;
    min-height: 100%;
}

.ProseMirror {
    min-height: 100vh;
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
  background: #1e1e1e;
}

html.light {
  color-scheme: light;
  background: #ffffff;
}
